Repository fearless-pioneer/simple-dataops-docker, pull requests merged in 2023-05, with the labels that each got.

#2 enhance/update-package-install
  Makefile
  pdm.lock
  poetry.lock
  pyproject.toml
Labels: enhancement, size/XL

#3 enhance/change-from-k8s-to-docker
  Makefile
  README.md
  pyproject.toml
Labels: enhancement, size/M

#7 :hammer: update pyright to latest
  poetry.lock
  pyproject.toml
Labels: bugfix, size/S

#5 ✨ Feature/data generator redis
  docker-compose.yaml
  docker/data-generator/Dockerfile
  docker/data-generator/data-generator.py
  poetry.lock
  pyproject.toml
Labels: feature, size/L

#4 Feature/add airflow docker compose
  .env
  .gitignore
  Makefile
  README.md
  docker-compose.yaml
  docker/airflow/Dockerfile
  docker/data-generator/data-generator.py
  poetry.lock
  pyproject.toml
  src/dags/simple_test.py
  src/sample.py
Labels: feature, size/XXXL

#6 Feature/add docker image GitHub action
  .github/workflows/docker-image.yml
Labels: feature, size/S

#8 ✨ Enhance/change celery system to rabbitmq
  docker-compose.yaml
Labels: enhancement, size/S

#9 feature/add-mongodb
  .env
  docker-compose.yaml
  docker/data-generator/Dockerfile
  docker/data-generator/data-generator.py
  poetry.lock
  pyproject.toml
Labels: feature, size/L
