Repository fearless-pioneer/simple-dataops-docker, pull requests merged in 2023-06, with the labels that each got.

#10 feature/add-mariadb-mongo-express
  Makefile
  docker-compose-airflow.yaml
  docker-compose-broker.yaml
  docker-compose-database.yaml
Labels: feature, size/L

#11 Feature/add batch glue
  Makefile
  README.md
  docker-compose-airflow.yaml
  docker-compose-database.yaml
  docker/airflow/Dockerfile
  docker/data-generator/Dockerfile
  docker/data-generator/data_generator.py
  poetry.lock
  pyproject.toml
  src/dags/__init__.py
  src/dags/batch_glue/__init__.py
  src/dags/batch_glue/dag.py
  src/dags/batch_glue/pipeline.py
  src/dags/simple_dag.py
Labels: feature, size/XL

#13 Enhance/fast airflow ui
  .env
Labels: enhancement, size/XS

#14 Enhance/update repo
  Makefile
  README.md
  asset/airflow_log_in.png
  asset/airflow_main_screen.png
  asset/batch_glue_success.png
  asset/batch_glue_unpause.png
  asset/mongodb_main_screen.png
  asset/mongodb_mongo_database.png
  asset/simple_dag_success.png
  asset/simple_dag_unpause.png
  docker-compose-db.yaml
  docker/airflow/Dockerfile
  docker/data-generator/Dockerfile
  src/dags/1_simple_test/simple_dag.py
  src/dags/2_batch_glue/dag.py
  src/dags/2_batch_glue/pipeline.py
  src/dags/__init__.py
  src/dags/batch_glue/__init__.py
Labels: enhancement, size/L

#12 ✨ Feature/add rabbitmq dag
  .gitignore
  Makefile
  README.md
  asset/sqs_dag_success.png
  asset/sqs_dag_unpause.png
  asset/sqs_docker_logs.png
  asset/sqs_minio_console.png
  asset/sqs_rabbitmq_console.png
  docker-compose-broker.yaml
  docker/airflow/Dockerfile
  docker/rabbitmq-consumer/Dockerfile
  docker/rabbitmq-consumer/rabbit_consumer.py
  poetry.lock
  pyproject.toml
  src/dags/2_batch_glue/dag.py
  src/dags/3_batch_sqs/rabbitmq_producer.py
Labels: feature, size/XL

#15 Enhance/final update
  Makefile
  README.md
  asset/airflow_log_in.png
  asset/airflow_main_screen.png
  asset/batch_glue_dag_success.png
  asset/batch_glue_dag_unpause.png
  asset/batch_glue_success.png
  asset/batch_glue_unpause.png
  asset/batch_sqs_dag_success.png
  asset/batch_sqs_dag_unpause.png
  asset/batch_sqs_docker_logs.png
  asset/batch_sqs_minio_console.png
  asset/batch_sqs_rabbitmq_console.png
  asset/landscape.svg
  asset/simple_dag_success.png
  asset/simple_dag_unpause.png
  asset/sqs_dag_success.png
  asset/sqs_dag_unpause.png
  docker-compose-queue.yaml
  docker/rabbitmq-consumer/Dockerfile
  docker/rabbitmq-consumer/rabbitmq_consumer.py
  poetry.lock
  pyproject.toml
  src/dags/2_batch_glue/dag.py
  src/dags/3_batch_sqs/rabbitmq_producer.py
Labels: enhancement, size/XL

#16 Feature/add all contributors
  .github/workflows/docker-image.yml
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Labels: feature, size/L
